@import '../../Styles/variables.scss';


.container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    div{
        width: 80%;
        border-bottom: .3px solid rgba($cinza, 0.2);
        padding: 1.2rem;
        ul{
            display: flex;
            justify-content: end;
            gap: 1rem;
            color: $cinza;
            a{
                color: $cinza;
                transition: .3s ease-out ;
                &:hover{
                    color: $roxo-contraste;
                }
            }
        }
        
    }
    
    @media(min-width: 0) and (max-width: 768px){
        display: none;
    }
}